@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", verdana, sans-serif;
  color: #666;
}

header {
  background-color: #ececec;
  color: #333333;
}

.bg-body-tertiary {
  background: #ececec !important;
}

.nav-link, .nav-link li a {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}

.navbar-nav li:nth-child(3n) a {
  color: #fff !important;
  background: #8c7352;
}

.navbar-nav {
  display: flex;
}

header .carrito {
  list-style: none;
  padding: 25px 5px 10px 17px;
}

header .carrito a {
  color: #8c7352;
}

.card {
  border: 0;
  padding: 10px;
}

.card-title {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 15px;
  padding: 10px;
  text-align: center;
}

.precios_producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  height: 2.9375rem;
}

.precio_nuevo {
  font-size: 1rem;
  font-family: "Poppins", verdana, sans-serif;
  line-height: 1.1875rem;
  font-weight: 700;
  width: 100%;
  color: #cba263;
  text-align: center;
}

.precio_viejo {
  text-decoration: line-through;
  font-size: 0.875rem;
  line-height: 1rem;
}

.precio_unitario {
  font-size: 0.75rem;
  font-family: "Poppins", verdana, sans-serif;
  line-height: 0.75rem;
  width: 100%;
  text-align: center;
}

.precio_unitario strong {
  font-weight: 700;
  font-family: "Poppins", verdana, sans-serif;
  line-height: 0;
}

.single-producto .precio_nuevo,
.single-producto .precio_viejo,
.single-producto .precio_unitario {
  text-align: left;
}

.single-producto p {
  font-size: 13px;
  margin-top: 30px;
  color: #8c7352;
}

.single-producto .btn {
  font-size: 14px;
  padding: 15px;
  font-weight: 700;
}

.single-producto .btn-warning {
  background-color: #8c7352;
  color: #ffffff;
  border: 0;
}

.single-producto .precio_nuevo {
  font-size: 25px;
  line-height: 35px;
  margin-top: 20px;
}

.btn {
  border-radius: 0;
  text-align: center;
  font-size: 13px;
}

.costo-envio {
  background-color: #ececec;
  color: #333333;
}

.costo-envio .form-label {
  font-size: 12px;
  font-weight: 500;
  padding-left: 5px;
}

.form-control {
  border-radius: 0;
  font-size: 11px;
  padding: 10px;
}

span.oferta {
  position: absolute;
  top: 11px;
  right: 3px;
  height: 65px;
  text-align: center;
  width: 65px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-style: italic;
  background: #3d3c54;
  color: #FFFFFF;
  padding: 18px 0px 0px 1px;
  font-weight: 500;
  line-height: 16px;
  font-size: 18px;
  margin-right: 2px;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #ececec;
  color: #333333;
  font-size: 10px;
  padding: 20px;
}

.footer_logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  list-style: none;
}

.footer_logos li {
  padding: 10px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.newsletter {
  padding: 44px;
  background: #8c7352;
  color: #fff;
  margin-top: 30px;
}

.copyright {
  font-size: 11px;
  font-weight: 500;
} /*# sourceMappingURL=style.css.map */